@model OfferPay
<div class="row gx-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">ویرایش کد تخفیف</h5>
            </div>
            @if (TempData["ErrorMessage"] != null)
            {
                <h5 class="card-title">@TempData["ErrorMessage"]</h5>
                TempData.Remove("ErrorMessage");
            }
            <form method="post" asp-route-id="@Model.Id" asp-action="PostEdit" asp-controller="Offer" asp-area="Admin">
                <div class="card-body">
                    <!-- Row starts -->
                    <div class="row gx-3">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="@Model.OfferWord">کد تخفیف</label>
                                <input type="text" class="form-control" asp-for="@Model.OfferWord" value="@Model.OfferWord" required>
                            </div>
                        </div>
                        @if (Model.OfferAmount != null)
                        {
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="@Model.OfferAmount">مبلغ تخفیف(تومان)</label>
                                    <input type="text" class="form-control" asp-for="@Model.OfferAmount" value="@Model.OfferAmount" required>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-sm-4 col-12">
                                <div class="mb-3">
                                    <label class="form-label" asp-for="@Model.OfferPercentage">درصد تخفیف</label>
                                    <input max="100" type="text" class="form-control" asp-for="@Model.OfferPercentage" value="@Model.OfferPercentage" required>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12 col-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="@Model.Description">توضیحات</label>
                                <textarea class="form-control" asp-for="@Model.Description" rows="3" required>@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="form-check">
                            @if (Model.IsDisable)
                            {
                                <input class="form-check-input" type="checkbox" asp-for="@Model.IsDisable" checked>
                            }
                            else
                            {
                                <input class="form-check-input" type="checkbox" asp-for="@Model.IsDisable">
                            }
                            <label class="form-check-label" asp-for="@Model.IsDisable">غیر فعال</label>
                        </div>
                    </div>
                    <!-- Row ends -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary">ویرایش</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>