@model Category
<div class="row gx-3">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">ویرایش دسته بندی</h5>
            </div>
            <form method="post" enctype="multipart/form-data" asp-action="PostEdit" asp-controller="Category" asp-area="Admin">
                <div class="card-body">
                    <!-- Row starts -->
                    <div class="row gx-3">
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="mb-3">
                                <label class="form-label" asp-for="@Model.Name">عنوان</label>
                                <input type="text" class="form-control" asp-for="@Model.Name" placeholder="عنوان دسته بندی را وارد کنید" required value="@Model.Name">
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <img class="img-3x me-3 rounded-3" src="~/Images/CategoryImages/@Model.Photo" alt="@Model.Name" />
                            <label class="input-group-text" for="ImageFile">بارگذاری عکس دسته بندی</label>
                            <input accept=".jpg,.png,.jpeg" type="file" class="form-control" id="ImageFile" name="ImageFile">
                        </div>
                        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                    </div>
                    <!-- Row ends -->
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>